@import '../styles/_variables';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  background: #fff;
  padding: 2rem;
  cursor: pointer;
  width: 400px;
}

.card:hover {
  //transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.card p {
  text-align: center;
}

.card .icon {
  font-size: 4rem;
  color: $primary-color;
}

@media (max-width: 990px) {
  .card {
    margin: 20px;
  }
}
