@import '../styles/_variables.scss';

.footer {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  height: 100px;
  background: $primary-color;
  color: white;
  padding: 0 2rem;
  opacity: 0.8;
}

.owner {
  flex: 1;
}

.legal-notice {
  align-content: flex-end;
}
