@import '../styles/_variables';

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  svg {
    font-size: 3rem;
    color: $primary-color;
  }
}

nav {
  flex: 1;
}

.nav-container {
  display: flex;
  justify-content: center;
  list-style: none;
}

.phone-container {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  h4 {
    margin-left: 0.5rem;
  }
}
